
.item {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.item{
  display: inline-flex;
  
  
}
.food{
  text-align: left;
  width: 50%;
  padding-left: 0;
}
.price{
  text-align: right;
  width: 50%;
  padding-right: 0;
}